<configuration>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>%blue(%d{dd-MM-yyyy HH:mm:ss.SSS}) %red([%t]) %highlight(%-5level) %magenta(%c{1}) - %msg%n</Pattern>
    </encoder>
  </appender>

  <logger name="com.renil.vertx" level="info" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>

  <root level="error">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
